.container_login{
    display: flex;
    justify-content: center;
}
.form-login {
    width: 40%;
    border-radius: 4px;
    border: 2px solid grey;
    padding: 20px;
    background-color: whitesmoke;

}
.login-title {
    margin: 10px;
    text-transform: uppercase;
}
